{% set links = [
	{'name': 'Home', 'link':'/'},
	{'name': 'About', 'link':'/about'},
	{'name': 'Ajouter', 'link':'/add'},
	{'name': 'Login', 'link':'/login'},
	{'name': 'Contact', 'link':'/contact'}
] %}

<nav id="nav" class="flex_menu">
	<ul>
		{% for link in links %}
			<li><a href="{{ link.link }}">{{ link.name }}</a></li>
		{% endfor %}
	</ul>
</nav>