{% extends '@layout/main.html.twig' %}

{% block main %}
<div class="layout two_cols">
	<aside>{% block side %}
		{{ side }}
	{% endblock %}</aside>
	<section>{% block content %}
		{{ content }}
	{% endblock %}</section>
</div>
{% endblock %}